language: node_js
node_js:
  - '9'
  - '8'
  - '7'
  - '6'

install:
  - npm install

script:
  - npm test
  - npm run lint
  - npm run build

after_script:
  - npm run codecov

deploy:
  provider: npm
  email: publish@snowplowanalytics.com
  api_key:
    secure: tBOdjegbv0WOF9Ax+VL9w8WyQKq4L4Qh0XXYv13lm8tekzC5I8ZcSyHY6LBu40YDs+ftMLceq6dmQGf2WOeGN2yTTHwUMXGGmyWsV5WOoHC2kKScQFhOFKoxpEXWHgjSSSnLrWQGxg2sTJlFHlyHVqEUGGz81EtrP/BBkdZy32VjjPjHHU2E5AymugArBSk4byoiy40zTr0QdNGn+NtMfdDfuT7wTfigzurSmsRYrMxHVBE/w6zVEsgKtIUfcvpsE44ea16XnOZPLT0zebEFvgdIjK7atiQ5le40KV2LBYVIZ3ziMr0laQONyEaOMxdpiWxm1ly3FiU1golOT8HzyBfgbsJlU8WkjdCpVDuXkU+VC14fzGUm4X4eSzVLkARwmoX+a4rbDZXZkurMVi+CnGf3rgqfggXlw/JZkv1zG/6jWKVggrvARQLwEm9Ayb4/hkGpNl21pZDNuLSDl3RK7seX/ZN0xq0xh31e4r+RInjJz0HCZMllmdEnEYcUl+N7VKyMLGUHfo6Zxrf0GCvcrgp4h1X6WNuNRpe+vCKvrBxshbSNkh/5qVe1cFTK/yn/dy3MAjtfbCvvmYRw6darJaQHypG6RaZyQbYN715r4lQ2Ym+gbfq10/2ZLgdFeCe1f9L+mhchZpXllTU7M5ON05Wn72VFgb4GMV0otcJ5Vs8=
  on:
    tags: true
